/*global.css*/
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{ 
	content:''; 
	display:block; 
	clear:both;
}
.clearfix{
	*zoom:1;
}
.ico_bg{
	background:url(../img/ico-message.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	position:absolute;
}
a{
	font-family:"微软雅黑", Arial, "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}
/*头部区域*/
